/* General Styles */
/* General Styles */
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    background: #0f0f0f;
    overflow-x: hidden;
  }
  
  
  /* Hero Section */
  .hero {
    height: 100vh;
    background: linear-gradient(180deg, #ff4500, #5a0000);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }
  
  .about h2, .portfolio h2 {
    font-family: 'Fira Sans', sans-serif;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin: 10px 0 20px;
    font-weight: 400;
  }
  
  .cta-buttons .btn {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s ease, background 0.3s ease;
    font-weight: 600;
  }
  
  .cta-buttons .btn:hover {
    transform: scale(1.1);
  }
  
  .cta-buttons .spotify {
    background: #1db954;
    border: none;
  }
  
  .cta-buttons .tiktok {
    background: #69c9d0;
    border: none;
  }
  
  .cta-buttons .github {
    background: #333;
    border: none;
  }
  
  /* About Section */
  .about {
    padding: 50px;
    background: #1a1a1a;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .about.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .about h2 {
    font-size: 2.5rem;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .about p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  /* Portfolio Section */
  .portfolio {
    padding: 50px;
    background: #111;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .portfolio.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .portfolio h2 {
    font-size: 2.5rem;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .portfolio .album {
    margin-top: 20px;
  }
  
  .portfolio .album img {
    max-width: 200px;
    border-radius: 10px;
  }
  
  .portfolio .album a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffa500;
    font-weight: bold;
  }
  
  .portfolio .album a:hover {
    color: #ff4500;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    background: #222;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer a {
    color: #ffa500;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
/* Animations */
@keyframes textGlow {
    from {
      text-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500, 0 0 30px #ff4500
  ; } to { text-shadow: 0 0 20px #ff6347, 0 0 40px #ff6347, 0 0 60px #ff6347; } }
  
@keyframes backgroundGlow { from 
    { background: linear-gradient(180deg, #ff4500, #8b0000); 
        } to 
    { background: linear-gradient(180deg, #ff6347, #ff4500); 
        } 
}